In [59]:
import pymongo

connection_string = "mongodb://localhost:27017/"

client = pymongo.MongoClient(connection_string)

db = client.Gx
collection = db.Employee

In [60]:
record = {
    "employee_id": 3976,
    "first_name": "Mayur",
    "last_name": "Pai"
}

records = [
    {
        "employee_id": 5482,
        "first_name": "Anika",
        "last_name": "Sharma"
    },
    {
        "employee_id": 6219,
        "first_name": "Rohan",
        "last_name": "Patel"
    },
    {
        "employee_id": 7354,
        "first_name": "Priya",
        "last_name": "Singh"
    },
    {
        "employee_id": 8031,
        "first_name": "Aryan",
        "last_name": "Mehta"
    }
]

collection.insert_one(record)
collection.insert_many(records)

InsertManyResult([ObjectId('660a6063d86e453eb422f008'), ObjectId('660a6063d86e453eb422f009'), ObjectId('660a6063d86e453eb422f00a'), ObjectId('660a6063d86e453eb422f00b')], acknowledged=True)

In [64]:
for i in collection.find({}, {"_id": False}):
    print(i)

{'employee_id': 3976, 'first_name': 'Mayur', 'last_name': 'Pai'}
{'employee_id': 5482, 'first_name': 'Anika', 'last_name': 'Sharma'}
{'employee_id': 6219, 'first_name': 'Rohan', 'last_name': 'Patel'}
{'employee_id': 7354, 'first_name': 'Priya', 'last_name': 'Singh'}
{'employee_id': 8031, 'first_name': 'Aryan', 'last_name': 'Mehta'}

In [65]:
for i in collection.find({"last_name" : "Mehta"}, {"_id":False}):
    print(i)

{'employee_id': 8031, 'first_name': 'Aryan', 'last_name': 'Mehta'}

In [66]:
for record in collection.find({"last_name":{"$in":["Pai","Mehta"]}}):
    print(record)

{'_id': ObjectId('660a6063d86e453eb422f007'), 'employee_id': 3976, 'first_name': 'Mayur', 'last_name': 'Pai'}
{'_id': ObjectId('660a6063d86e453eb422f00b'), 'employee_id': 8031, 'first_name': 'Aryan', 'last_name': 'Mehta'}

In [67]:
for record in collection.find({"employee_id":{"$lt": 5000}}):
    print(record)

{'_id': ObjectId('660a6063d86e453eb422f007'), 'employee_id': 3976, 'first_name': 'Mayur', 'last_name': 'Pai'}

In [69]:
for record in collection.find({'$or':[{'first_name':'Mayur'},{'last_name':'Mehta'}]}):
    print(record)

{'_id': ObjectId('660a6063d86e453eb422f007'), 'employee_id': 3976, 'first_name': 'Mayur', 'last_name': 'Pai'}
{'_id': ObjectId('660a6063d86e453eb422f00b'), 'employee_id': 8031, 'first_name': 'Aryan', 'last_name': 'Mehta'}

In [71]:
for record in collection.find({'$and':[{'first_name':'Mayur'},{'last_name':'Pai'}]}):
    print(record)

{'_id': ObjectId('660a6063d86e453eb422f007'), 'employee_id': 3976, 'first_name': 'Mayur', 'last_name': 'Pai'}

In [72]:
for record in collection.find({'first_name':'Mayur', 'last_name':'Pai'}):
    print(record)

{'_id': ObjectId('660a6063d86e453eb422f007'), 'employee_id': 3976, 'first_name': 'Mayur', 'last_name': 'Pai'}

In [73]:
db.inventory.insert_many([
    {"item": "canvas",
     "qty": 100,
     "size": {"h": 28, "w": 35.5, "uom": "cm"},
     "status": "A"},
    {"item": "journal",
     "qty": 25,
     "size": {"h": 14, "w": 21, "uom": "cm"},
     "status": "A"},
    {"item": "mat",
     "qty": 85,
     "size": {"h": 27.9, "w": 35.5, "uom": "cm"},
     "status": "A"},
    {"item": "mousepad",
     "qty": 25,
     "size": {"h": 19, "w": 22.85, "uom": "cm"},
     "status": "P"},
    {"item": "notebook",
     "qty": 50,
     "size": {"h": 8.5, "w": 11, "uom": "in"},
     "status": "P"},
    {"item": "paper",
     "qty": 100,
     "size": {"h": 8.5, "w": 11, "uom": "in"},
     "status": "D"},
    {"item": "planner",
     "qty": 75,
     "size": {"h": 22.85, "w": 30, "uom": "cm"},
     "status": "D"},
    {"item": "postcard",
     "qty": 45,
     "size": {"h": 10, "w": 15.25, "uom": "cm"},
     "status": "A"},
    {"item": "sketchbook",
     "qty": 80,
     "size": {"h": 14, "w": 21, "uom": "cm"},
     "status": "A"},
    {"item": "sketch pad",
     "qty": 95,
     "size": {"h": 22.85, "w": 30.5, "uom": "cm"},
     "status": "A"}])

InsertManyResult([ObjectId('660a60c2d86e453eb422f00c'), ObjectId('660a60c2d86e453eb422f00d'), ObjectId('660a60c2d86e453eb422f00e'), ObjectId('660a60c2d86e453eb422f00f'), ObjectId('660a60c2d86e453eb422f010'), ObjectId('660a60c2d86e453eb422f011'), ObjectId('660a60c2d86e453eb422f012'), ObjectId('660a60c2d86e453eb422f013'), ObjectId('660a60c2d86e453eb422f014'), ObjectId('660a60c2d86e453eb422f015')], acknowledged=True)

In [74]:
db.inventory.update_one(
    {"item": "sketch pad"},
    {"$set": {"size.uom": "m", "status": "P"},
        "$currentDate": {"lastModified": True}}
)

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [75]:
db.inventory.update_many(
    {"qty": {"$lt": 50}},
    {"$set": {"size.uom": "in", "status": "P"},
     "$currentDate": {"lastModified": True}})

UpdateResult({'n': 3, 'nModified': 3, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [76]:
db.inventory.replace_one(
    {"item": "paper"},
    {"item": "paper",
     "instock": [
         {"warehouse": "A", "qty": 60},
         {"warehouse": "B", "qty": 40}]})

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [81]:
data = [
    {"user": "Mayur", "subject": "Database", "score": 80},
    {"user": "Abhijeet",  "subject": "JavaScript", "score": 90},
    {"user": "Abhijeet",  "title": "Database", "score": 85},
    {"user": "Mayur",  "title": "JavaScript", "score": 75},    
    {"user": "Abhijeet",  "title": "Data Science", "score": 60},
    {"user": "Mayur",  "title": "Data Science", "score": 95}]

In [82]:
db.student_scores.insert_one({
    "user": "Mayur",  "title": "Python", "score": 85
})

InsertOneResult(ObjectId('660a6165d86e453eb422f01c'), acknowledged=True)

In [78]:
db.student_scores.insert_many(data)

InsertManyResult([ObjectId('660a611cd86e453eb422f016'), ObjectId('660a611cd86e453eb422f017'), ObjectId('660a611cd86e453eb422f018'), ObjectId('660a611cd86e453eb422f019'), ObjectId('660a611cd86e453eb422f01a'), ObjectId('660a611cd86e453eb422f01b')], acknowledged=True)

In [83]:
agg_result = db.student_scores.aggregate(
    [{
        "$group":
        {"_id": "$user",
         "Total Subject": {"$sum": 1}
         }}
     ])

for i in agg_result: 
    print(i)

{'_id': 'Mayur', 'Total Subject': 4}
{'_id': 'Abhijeet', 'Total Subject': 3}

In [85]:
agg_result = db.student_scores.aggregate(
    [{
        "$group":
        {"_id": "$user",
         "Total Marks": {"$sum": "$score"}
         }}
     ])

for i in agg_result:
    print(i)

{'_id': 'Mayur', 'Total Marks': 335}
{'_id': 'Abhijeet', 'Total Marks': 235}

In [87]:
agg_result = db.student_scores.aggregate([
    {
        "$group": {
            "_id": '$user',
            "StudentScoreAverage": {
                "$avg": "$score"
            }
        }
    }
])

for i in agg_result:
    print(i)

{'_id': 'Mayur', 'StudentScoreAverage': 83.75}
{'_id': 'Abhijeet', 'StudentScoreAverage': 78.33333333333333}

In [88]:
import datetime as datetime

In [89]:
data = [{"_id": 1, "item": "abc", "price": 10, "quantity": 2, "date": datetime.datetime.utcnow()},
        {"_id": 2, "item": "jkl", "price": 20, "quantity": 1,
            "date": datetime.datetime.utcnow()},
        {"_id": 3, "item": "xyz", "price": 5, "quantity": 5,
            "date": datetime.datetime.utcnow()},
        {"_id": 4, "item": "abc", "price": 10, "quantity": 10,
            "date": datetime.datetime.utcnow()},
        {"_id": 5, "item": "xyz", "price": 5, "quantity": 10, "date": datetime.datetime.utcnow()}]

In [90]:
db.stores.insert_many(data)

InsertManyResult([1, 2, 3, 4, 5], acknowledged=True)

In [93]:
agg_result = db.stores.aggregate([
    {
        "$group": {
            "_id": '$item',
            "avgAmount": {"$avg": {"$multiply": ["$price", "$quantity"]}},
            "avgQuantity": {"$avg": "$quantity"}
        }
    }
])

for i in agg_result:
    print(i)

{'_id': 'jkl', 'avgAmount': 20.0, 'avgQuantity': 1.0}
{'_id': 'abc', 'avgAmount': 60.0, 'avgQuantity': 6.0}
{'_id': 'xyz', 'avgAmount': 37.5, 'avgQuantity': 7.5}

In [94]:
data = [{
    "_id": 1,
    "title": "abc123",
    "isbn": "0001122223334",
    "author": {"last": "zzz", "first": "aaa"},
    "copies": 5
},
    {
    "_id": 2,
    "title": "Baked Goods",
    "isbn": "9999999999999",
    "author": {"last": "xyz", "first": "abc", "middle": ""},
    "copies": 2
}
]

In [95]:
db.books.insert_many(data)

InsertManyResult([1, 2], acknowledged=True)

In [97]:
for row in db.books.aggregate([{"$project": {"title": 1, "isbn": 1}}]):
    print(row)

{'_id': 1, 'title': 'abc123', 'isbn': '0001122223334'}
{'_id': 2, 'title': 'Baked Goods', 'isbn': '9999999999999'}

In [114]:
agg_result = db.stores.aggregate([
    {"$match": {"$or": [{"item": "abc"}, {"item": "xyz"}]}},
    {"$group": {"_id": "$item", "total": {"$sum": {"$multiply" : ["$quantity", "$price"]}}}},
    # {"$sort": {"total": -1}}
])

for i in agg_result:
    print(i)

{'_id': 'abc', 'total': 120}
{'_id': 'xyz', 'total': 75}