In [254]:
person = {
    "first": "Mayur",
    "last": "Pai",
    "email": "mayur5pai@gmail.com"
}

In [255]:
people = {
    "first": ["Mayur"],
    "last": ["Pai"],
    "email": ["mayur5pai@gmail.com"]
}

In [256]:
people = {
    "first": ["Mayur", 'Reshma'],
    "last": ["Pai", 'Pai'],
    "email": ["mayur5pai@gmail.com", 'reshmapai@email.com']
}

In [257]:
people['email']

['mayur5pai@gmail.com', 'reshmapai@email.com']

In [258]:
import pandas as pd

df = pd.DataFrame(data=people)

In [259]:
df

    first last                email
0   Mayur  Pai  mayur5pai@gmail.com
1  Reshma  Pai  reshmapai@email.com

In [260]:
df.email

0    mayur5pai@gmail.com
1    reshmapai@email.com
Name: email, dtype: object

In [261]:
df[['first', 'email']]

    first                email
0   Mayur  mayur5pai@gmail.com
1  Reshma  reshmapai@email.com

In [262]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [263]:
df.columns.tolist()

['first', 'last', 'email']

In [264]:
df.iloc[[0, 1], [2]]

                 email
0  mayur5pai@gmail.com
1  reshmapai@email.com

In [265]:
df.loc[[0, 1], ['email']]

                 email
0  mayur5pai@gmail.com
1  reshmapai@email.com

In [266]:
df.set_index('email', inplace=True)

In [267]:
df

                      first last
email
mayur5pai@gmail.com   Mayur  Pai
reshmapai@email.com  Reshma  Pai

In [268]:
df.index

Index(['mayur5pai@gmail.com', 'reshmapai@email.com'], dtype='object', name='email')

In [269]:
df.loc['mayur5pai@gmail.com']

first    Mayur
last       Pai
Name: mayur5pai@gmail.com, dtype: object

In [270]:
df.iloc[-1]

first    Reshma
last        Pai
Name: reshmapai@email.com, dtype: object

In [271]:
df.reset_index(inplace=True)

In [272]:
df

                 email   first last
0  mayur5pai@gmail.com   Mayur  Pai
1  reshmapai@email.com  Reshma  Pai

In [273]:
df.loc[0]

email    mayur5pai@gmail.com
first                  Mayur
last                     Pai
Name: 0, dtype: object

In [274]:
df.columns

Index(['email', 'first', 'last'], dtype='object')

In [275]:
df.columns = ['Email', 'First Name', 'Last Name']

In [276]:
df

                 Email First Name Last Name
0  mayur5pai@gmail.com      Mayur       Pai
1  reshmapai@email.com     Reshma       Pai

In [277]:
df.columns = [z.upper() for z in df.columns]
df

                 EMAIL FIRST NAME LAST NAME
0  mayur5pai@gmail.com      Mayur       Pai
1  reshmapai@email.com     Reshma       Pai

In [278]:
df.rename(columns={'EMAIL': 'Email'})

                 Email FIRST NAME LAST NAME
0  mayur5pai@gmail.com      Mayur       Pai
1  reshmapai@email.com     Reshma       Pai

In [279]:
df.loc[2] = ['abcd@gmail.com', 'ab', 'cd']

In [280]:
df

                 EMAIL FIRST NAME LAST NAME
0  mayur5pai@gmail.com      Mayur       Pai
1  reshmapai@email.com     Reshma       Pai
2       abcd@gmail.com         ab        cd

In [281]:
df.loc[1] = ['reshmapai007@yahoo.com', 'Reshma', 'Pai']

In [282]:
df

                    EMAIL FIRST NAME LAST NAME
0     mayur5pai@gmail.com      Mayur       Pai
1  reshmapai007@yahoo.com     Reshma       Pai
2          abcd@gmail.com         ab        cd

In [283]:
df.loc[1, 'email'] = 'reshmapai@gmail.com'

In [284]:
df

                    EMAIL FIRST NAME LAST NAME                email
0     mayur5pai@gmail.com      Mayur       Pai                  NaN
1  reshmapai007@yahoo.com     Reshma       Pai  reshmapai@gmail.com
2          abcd@gmail.com         ab        cd                  NaN

In [285]:
df.drop(columns=['email'], inplace=True)

In [286]:
df

                    EMAIL FIRST NAME LAST NAME
0     mayur5pai@gmail.com      Mayur       Pai
1  reshmapai007@yahoo.com     Reshma       Pai
2          abcd@gmail.com         ab        cd

In [287]:
df.loc[1, 'EMAIL'] = 'reshmapai@gmail.com'

In [288]:
df

                 EMAIL FIRST NAME LAST NAME
0  mayur5pai@gmail.com      Mayur       Pai
1  reshmapai@gmail.com     Reshma       Pai
2       abcd@gmail.com         ab        cd

In [289]:
df.loc[2, ['EMAIL', 'FIRST NAME']] = ['xyz@gmail.com', "XYZ"]

In [290]:
df

                 EMAIL FIRST NAME LAST NAME
0  mayur5pai@gmail.com      Mayur       Pai
1  reshmapai@gmail.com     Reshma       Pai
2        xyz@gmail.com        XYZ        cd

In [291]:
df.rename(columns={'EMAIL':'email'}, inplace=True)

In [292]:
df

                 email FIRST NAME LAST NAME
0  mayur5pai@gmail.com      Mayur       Pai
1  reshmapai@gmail.com     Reshma       Pai
2        xyz@gmail.com        XYZ        cd

In [293]:
df['email'].apply(lambda x: x.split('@')[0])

0    mayur5pai
1    reshmapai
2          xyz
Name: email, dtype: object

In [294]:
df['email'].apply(len)

0    19
1    19
2    13
Name: email, dtype: int64

In [295]:
def upper_case(email):
    return email.upper()

In [297]:
df['email'] = df['email'].apply(upper_case)

In [298]:
df

                 email FIRST NAME LAST NAME
0  MAYUR5PAI@GMAIL.COM      Mayur       Pai
1  RESHMAPAI@GMAIL.COM     Reshma       Pai
2        XYZ@GMAIL.COM        XYZ        cd

In [299]:
df['email'] = df['email'].apply(lambda x: x.lower())

In [300]:
df

                 email FIRST NAME LAST NAME
0  mayur5pai@gmail.com      Mayur       Pai
1  reshmapai@gmail.com     Reshma       Pai
2        xyz@gmail.com        XYZ        cd

In [326]:
df.apply(len)

email         3
FIRST NAME    3
LAST NAME     3
dtype: int64

In [328]:
df.apply(len, axis='columns')

0    3
1    3
2    3
dtype: int64

In [333]:
df.apply(lambda x: x.max())

email         xyz@gmail.com
FIRST NAME              XYZ
LAST NAME                cd
dtype: object

In [331]:
df.apply(pd.Series.min)

email         mayur5pai@gmail.com
FIRST NAME                  Mayur
LAST NAME                     Pai
dtype: object

In [330]:
df.apply(pd.Series.max)

email         xyz@gmail.com
FIRST NAME              XYZ
LAST NAME                cd
dtype: object

In [303]:
df.applymap(lambda x: x.lower())

                 email FIRST NAME LAST NAME
0  mayur5pai@gmail.com      mayur       pai
1  reshmapai@gmail.com     reshma       pai
2        xyz@gmail.com        xyz        cd

In [304]:
df.applymap(len)

   email  FIRST NAME  LAST NAME
0     19           5          3
1     19           6          3
2     13           3          2

In [307]:
df

   email FIRST NAME LAST NAME
0  email      Mayur       Pai
1  email     Reshma       Pai
2  email        XYZ        cd

In [310]:
df['email'].replace('email', 'emails', regex=True, inplace=True)

In [311]:
df

    email FIRST NAME LAST NAME
0  emails      Mayur       Pai
1  emails     Reshma       Pai
2  emails        XYZ        cd

In [313]:
df['email'] = ["mayur5pai@gmail.com", 'reshmapai@email.com', 'xyz@gmail.com']

In [314]:
df

                 email FIRST NAME LAST NAME
0  mayur5pai@gmail.com      Mayur       Pai
1  reshmapai@email.com     Reshma       Pai
2        xyz@gmail.com        XYZ        cd

In [317]:
df.replace({'mayur5pai@gmail.com': '<EMAIL>'})

                 email FIRST NAME LAST NAME
0              <EMAIL>      Mayur       Pai
1  reshmapai@email.com     Reshma       Pai
2        xyz@gmail.com        XYZ        cd

In [318]:
df

                 email FIRST NAME LAST NAME
0  mayur5pai@gmail.com      Mayur       Pai
1  reshmapai@email.com     Reshma       Pai
2        xyz@gmail.com        XYZ        cd

In [323]:
df.drop(columns=['LAST NAME'])

                 email FIRST NAME
0  mayur5pai@gmail.com      Mayur
1  reshmapai@email.com     Reshma
2        xyz@gmail.com        XYZ

In [324]:
df

                 email FIRST NAME LAST NAME
0  mayur5pai@gmail.com      Mayur       Pai
1  reshmapai@email.com     Reshma       Pai
2        xyz@gmail.com        XYZ        cd